/* #####################################
visualisation of distribution: */


.dropbtn {
    background-color: #e2e2e2;
    color: black;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: center;
    width: 50px;
    height: 50px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #f39c12;
}

.Genome {
width: 50px;
}

.Chromosome1 {
    position: relative;
    left:20px;
    top:0px;
}

/* Dropdown content (hidden by default) */
.Chr1_drop_info {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.Chr1_drop_info a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: center;
}

/* Show the dropdown menu on hover */
.Chromosome1:hover .Chr1_drop_info {
 display: block;
}

/* container for the images and embeded url*/
.Chr1 {
  display: none;
  width: 10px;
  height: 50px;
  position: relative;
  left:0px;
  top:50px;
}

.Chromosome2 {
    position: relative;
    left:75px;
    top:-50px;
}

/* Dropdown content (hidden by default) */
.Chr2_drop_info {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.Chr2_drop_info a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: center;
}

/* Show the dropdown menu on hover */
.Chromosome2:hover .Chr2_drop_info {
 display: block;
}

/* container for the images and embeded url*/
.Chr2 {
  display: none;
  width: 10px;
  height: 50px;
  position: relative;
  left:0px;
  top:0px;
}

.Chromosome3 {
    position: relative;
    left:130px;
    top:-100px;
}

/* Dropdown content (hidden by default) */
.Chr3_drop_info {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.Chr3_drop_info a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: center;
}

/* Show the dropdown menu on hover */
.Chromosome3:hover .Chr3_drop_info {
 display: block;
}

/* container for the images and embeded url*/
.Chr3 {
  display: none;
  width: 10px;
  height: 50px;
  position: relative;
  left:0px;
  top:-50px;
}

.Chromosome4 {
    position: relative;
    left:185px;
    top:-150px;
}

/* Dropdown content (hidden by default) */
.Chr4_drop_info {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.Chr4_drop_info a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: center;
}

/* Show the dropdown menu on hover */
.Chromosome4:hover .Chr4_drop_info {
 display: block;
}

/* container for the images and embeded url*/
.Chr4 {
  display: none;
  width: 10px;
  height: 50px;
  position: relative;
  left:0px;
  top:-100px;
}

.Chromosome5 {
    position: relative;
    left:240px;
    top:-200px;
}

/* Dropdown content (hidden by default) */
.Chr5_drop_info {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.Chr5_drop_info a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: center;
}


/* Show the dropdown menu on hover */
.Chromosome5:hover .Chr5_drop_info {
 display: block;
}

/* container for the images and embeded url*/
.Chr5 {
  display: none;
  width: 10px;
  height: 50px;
  position: relative;
  left:0px;
  top:-150px;
}

.Chromosome6 {
    position: relative;
    left:295px;
    top:-250px;
}

/* Dropdown content (hidden by default) */
.Chr6_drop_info {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.Chr6_drop_info a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: center;
}

/* Show the dropdown menu on hover */
.Chromosome6:hover .Chr6_drop_info {
 display: block;
}

/* container for the images and embeded url*/
.Chr6 {
  display: none;
  width: 10px;
  height: 50px;
  position: relative;
  left:0px;
  top:-200px;
}

.Chromosome7 {
    position: relative;
    left:350px;
    top:-300px;
}

/* Dropdown content (hidden by default) */
.Chr7_drop_info {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.Chr7_drop_info a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: center;
}


/* Show the dropdown menu on hover */
.Chromosome7:hover .Chr7_drop_info {
 display: block;
}

/* container for the images and embeded url*/
.Chr7 {
  display: none;
  width: 10px;
  height: 50px;
  position: relative;
  left:0px;
  top:-250px;
}

.Chromosome8 {
    position: relative;
    left:405px;
    top:-350px;
}

/* Dropdown content (hidden by default) */
.Chr8_drop_info {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.Chr8_drop_info a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: center;
}


/* Show the dropdown menu on hover */
.Chromosome8:hover .Chr8_drop_info {
 display: block;
}

/* container for the images and embeded url*/
.Chr8 {
  display: none;
  width: 10px;
  height: 50px;
  position: relative;
  left:0px;
  top:-300px;
}

.Chromosome9 {
    position: relative;
    left:460px;
    top:-400px;
}

/* Dropdown content (hidden by default) */
.Chr9_drop_info {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.Chr9_drop_info a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: center;
}


/* Show the dropdown menu on hover */
.Chromosome9:hover .Chr9_drop_info {
 display: block;
}

/* container for the images and embeded url*/
.Chr9 {
  display: none;
  width: 10px;
  height: 50px;
  position: relative;
  left:0px;
  top:-350px;
}

.Chromosome10 {
    position: relative;
    left:515px;
    top:-450px;
}

/* Dropdown content (hidden by default) */
.Chr10_drop_info {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.Chr10_drop_info a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: center;
}


/* Show the dropdown menu on hover */
.Chromosome10:hover .Chr10_drop_info {
 display: block;
}

/* container for the images and embeded url*/
.Chr10 {
  display: none;
  width: 10px;
  height: 50px;
  position: relative;
  left:0px;
  top:-400px;
}

.Chromosome11 {
    position: relative;
    left:570px;
    top:-500px;
}

/* Dropdown content (hidden by default) */
.Chr11_drop_info {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.Chr11_drop_info a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: center;
}

/* Show the dropdown menu on hover */
.Chromosome11:hover .Chr11_drop_info {
 display: block;
}

/* container for the images and embeded url*/
.Chr11 {
  display: none;
  width: 10px;
  height: 50px;
  position: relative;
  left:0px;
  top:-450px;
}

.Chromosome12 {

    position: relative;
    left:625px;
    top:-550px;
}

/* Dropdown content (hidden by default) */
.Chr12_drop_info {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.Chr12_drop_info a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: center;
}


/* Show the dropdown menu on hover */
.Chromosome12:hover .Chr12_drop_info {
 display: block;
}

/* container for the images and embeded url*/
.Chr12 {
  display: none;
  width: 10px;
  height: 50px;
  position: relative;
  left:0px;
  top:-500px;
}

.Chromosome13 {
    position: relative;
    left:680px;
    top:-600px;
}

/* Dropdown content (hidden by default) */
.Chr13_drop_info {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.Chr13_drop_info a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: center;
}


/* Show the dropdown menu on hover */
.Chromosome13:hover .Chr13_drop_info {
 display: block;
 right: 0px;
}

/* container for the images and embeded url*/
.Chr13 {
  display: none;
  width: 10px;
  height: 50px;
  position: relative;
  left:0px;
  top:-550px;
}

.Chromosome14 {
    position: relative;
    left:735px;
    top:-650px;
}

/* Dropdown content (hidden by default) */
.Chr14_drop_info {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.Chr14_drop_info a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: center;
}

/* Show the dropdown menu on hover */
.Chromosome14:hover .Chr14_drop_info {
 display: block;
 right: 0px;
}

/* container for the images and embeded url*/
.Chr14 {
  display: none;
  width: 10px;
  height: 50px;
  position: relative;
  left:0px;
  top:-600px;
}

.Chromosome15 {
    position: relative;
    left:790px;
    top:-700px;
}

/* Dropdown content (hidden by default) */
.Chr15_drop_info {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.Chr15_drop_info a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: center;
}

/* Show the dropdown menu on hover */
.Chromosome15:hover .Chr15_drop_info {
 display: block;
 right: 0px;
}

/* container for the images and embeded url*/
.Chr15 {
  display: none;
  width: 10px;
  height: 50px;
  position: relative;
  left:0px;
  top:-650px;
}

.Chromosome16 {
    position: relative;
    left:845px;
    top:-750px;
}

/* Dropdown content (hidden by default) */
.Chr16_drop_info {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.Chr16_drop_info a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: center;
}

/* Show the dropdown menu on hover */
.Chromosome16:hover .Chr16_drop_info {
 display: block;
 right: 0px;
}

/* container for the images and embeded url*/
.Chr16 {
  display: none;
  width: 10px;
  height: 50px;
  position: relative;
  left:0px;
  top:-700px;
}

.Chromosome17 {
    position: relative;
    left:900px;
    top:-800px;
}

/* Dropdown button */
.Chromosome17 .Chr17_drop {
 font-size: 16px;
 border: none;
 outline: none;
 color: white;
 padding: 14px 16px;
 background-color: inherit;
}
/* Dropdown content (hidden by default) */
.Chr17_drop_info {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.Chr17_drop_info a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: center;
}

/* Show the dropdown menu on hover */
.Chromosome17:hover .Chr17_drop_info {
 display: block;
 right: 0px;
}

/* container for the images and embeded url*/
.Chr17 {
  display: none;
  width: 10px;
  height: 50px;
  position: relative;
  left:0px;
  top:-750px;
}

.Chromosome18 {
    position: relative;
    left:955px;
    top:-850px;
}

/* Dropdown content (hidden by default) */
.Chr18_drop_info {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.Chr18_drop_info a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: center;
}

/* Show the dropdown menu on hover */
.Chromosome18:hover .Chr18_drop_info {
 display: block;
 right: 0px;
}

/* container for the images and embeded url*/
.Chr18 {
  display: none;
  width: 10px;
  height: 50px;
  position: relative;
  left:0px;
  top:-800px;
}

.Chromosome19 {
    position: relative;
    left:1010px;
    top:-900px;
}

/* Dropdown content (hidden by default) */
.Chr19_drop_info {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.Chr19_drop_info a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: center;
}

/* Show the dropdown menu on hover */
.Chromosome19:hover .Chr19_drop_info {
 display: block;
 right: 0px;
}

/* container for the images and embeded url*/
.Chr19 {
  display: none;
  width: 10px;
  height: 50px;
  position: relative;
  left:0px;
  top:-850px;
}

.Chromosome20 {
    position: relative;
    left:1065px;
    top:-950px;
}

/* Dropdown content (hidden by default) */
.Chr20_drop_info {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.Chr20_drop_info a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: center;
}

/* Show the dropdown menu on hover */
.Chromosome20:hover .Chr20_drop_info {
 display: block;
 right: 0px;
}

/* container for the images and embeded url*/
.Chr20 {
  display: none;
  width: 10px;
  height: 50px;
  position: relative;
  left:0px;
  top:-900px;
}

.Chromosome21 {
    position: relative;
    left:1120px;
    top:-1000px;
}

/* Dropdown content (hidden by default) */
.Chr21_drop_info {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.Chr21_drop_info a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: center;
}

/* Show the dropdown menu on hover */
.Chromosome21:hover .Chr21_drop_info {
 display: block;
 right: 0px;
}

/* container for the images and embeded url*/
.Chr21 {
  display: none;
  width: 10px;
  height: 50px;
  position: relative;
  left:0px;
  top:-950px;
}

.Chromosome22 {
    position: relative;
    left:1175px;
    top:-1050px;
}

/* Dropdown content (hidden by default) */
.Chr22_drop_info {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.Chr22_drop_info a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: center;
}

/* Show the dropdown menu on hover */
.Chromosome22:hover .Chr22_drop_info {
 display: block;
 right: 0px;
}

/* container for the images and embeded url*/
.Chr22 {
  display: none;
  width: 10px;
  height: 50px;
  position: relative;
  left:0px;
  top:-1000px;
}

.ChromosomeX {
    position: relative;
    left:1230px;
    top:-1100px;
}

/* Dropdown content (hidden by default) */
.ChrX_drop_info {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.ChrX_drop_info a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: center;
}

/* Show the dropdown menu on hover */
.ChromosomeX:hover .ChrX_drop_info {
 display: block;
 right: 0px;
}

/* container for the images and embeded url*/
.ChrX {
  display: none;
  width: 10px;
  height: 50px;
  position: relative;
  left:0px;
  top:-1050px;
}

.ChromosomeY {
    position: relative;
    left:1285px;
    top:-1150px;
}

/* Dropdown content (hidden by default) */
.ChrY_drop_info {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.ChrY_drop_info a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: center;
}

/* Show the dropdown menu on hover */
.ChromosomeY:hover .ChrY_drop_info {
 display: block;
 right: 0px;
}

/* container for the images and embeded url*/
.ChrY {
  display: none;
  width: 10px;
  height: 50px;
  position: relative;
  left:0px;
  top:-1100px;
}
