/* #####################################
visualisation of distribution: */

.Genome {
  width: 1275px;
  height: 50px;
  position: relative;
  background: black;
}

.Chromosome1 {
    width: 50px;
    height: 50px;
    background: gray;
    position: relative;
    left:0px;
    top:0px;
    color: white;
}

/* Dropdown button */
.Chromosome1 .Chr1_drop {
 font-size: 16px;
 border: none;
 outline: none;
 color: white;
 padding: 14px 16px;
 background-color: inherit;
}
/* Dropdown content (hidden by default) */
.Chr1_drop_info {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.Chr1_drop_info a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: center;
}

/* Add a grey background color to dropdown links on hover */
.Chr1_drop_info a:hover {
 background-color: #ddd;
}

/* Show the dropdown menu on hover */
.Chromosome1:hover .Chr1_drop_info {
 display: block;
}

/* container for the images and embeded url*/
.Chr1 {
  display: none;
  width: 100px;
  height: 50px;
  background: deepskyblue;
  position: relative;
  left:0px;
  top:50px;
}

/*iframe formating*/
.iframe-container {
  position: relative;
  margin: 5px auto;
  height: 0;
  overflow: hidden;
}
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  margin: 5px auto;
  padding: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #7a8b8b;
  /* style following properties (necessary for proper handling
  of overflow and scrolling) inline in div container
  around iframe because not stable in CSS */
  -webkit-overflow-scrolling: touch
  overflow: auto; */
}
.iframe-container-for-wxh-600x330 {
  padding: 10px 10px 55% 10px;   /* padding-bottom = h/w as % */
}

.Chromosome2 {
    width: 50px;
    height: 50px;
    background: gray;
    position: relative;
    left:55px;
    top:-50px;
    color: white;
}

/* Dropdown button */
.Chromosome2 .Chr2_drop {
 font-size: 16px;
 border: none;
 outline: none;
 color: white;
 padding: 14px 16px;
 background-color: inherit;
}
/* Dropdown content (hidden by default) */
.Chr2_drop_info {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.Chr2_drop_info a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: center;
}

/* Add a grey background color to dropdown links on hover */
.Chr2_drop_info a:hover {
 background-color: #ddd;
}

/* Show the dropdown menu on hover */
.Chromosome2:hover .Chr2_drop_info {
 display: block;
}

/* container for the images and embeded url*/
.Chr2 {
  display: none;
  width: 100px;
  height: 50px;
  background: deepskyblue;
  position: relative;
  left:0px;
  top:0px;
}

.Chromosome3 {
    width: 50px;
    height: 50px;
    background: gray;
    position: relative;
    left:110px;
    top:-100px;
    color: white;
}

/* Dropdown button */
.Chromosome3 .Chr3_drop {
 font-size: 16px;
 border: none;
 outline: none;
 color: white;
 padding: 14px 16px;
 background-color: inherit;
}
/* Dropdown content (hidden by default) */
.Chr3_drop_info {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.Chr3_drop_info a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: center;
}

/* Add a grey background color to dropdown links on hover */
.Chr3_drop_info a:hover {
 background-color: #ddd;
}

/* Show the dropdown menu on hover */
.Chromosome3:hover .Chr3_drop_info {
 display: block;
}

/* container for the images and embeded url*/
.Chr3 {
  display: none;
  width: 100px;
  height: 50px;
  background: deepskyblue;
  position: relative;
  left:0px;
  top:-50px;
}

.Chromosome4 {
    width: 50px;
    height: 50px;
    background: gray;
    position: relative;
    left:165px;
    top:-150px;
    color: white;
}

/* Dropdown button */
.Chromosome4 .Chr4_drop {
 font-size: 16px;
 border: none;
 outline: none;
 color: white;
 padding: 14px 16px;
 background-color: inherit;
}
/* Dropdown content (hidden by default) */
.Chr4_drop_info {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.Chr4_drop_info a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: center;
}

/* Add a grey background color to dropdown links on hover */
.Chr4_drop_info a:hover {
 background-color: #ddd;
}

/* Show the dropdown menu on hover */
.Chromosome4:hover .Chr4_drop_info {
 display: block;
}

/* container for the images and embeded url*/
.Chr4 {
  display: none;
  width: 100px;
  height: 50px;
  background: deepskyblue;
  position: relative;
  left:0px;
  top:-100px;
}

.Chromosome5 {
    width: 50px;
    height: 50px;
    background: gray;
    position: relative;
    left:220px;
    top:-200px;
    color: white;
}

/* Dropdown button */
.Chromosome5 .Chr5_drop {
 font-size: 16px;
 border: none;
 outline: none;
 color: white;
 padding: 14px 16px;
 background-color: inherit;
}
/* Dropdown content (hidden by default) */
.Chr5_drop_info {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.Chr5_drop_info a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: center;
}

/* Add a grey background color to dropdown links on hover */
.Chr5_drop_info a:hover {
 background-color: #ddd;
}

/* Show the dropdown menu on hover */
.Chromosome5:hover .Chr5_drop_info {
 display: block;
}

/* container for the images and embeded url*/
.Chr5 {
  display: none;
  width: 100px;
  height: 50px;
  background: deepskyblue;
  position: relative;
  left:0px;
  top:-150px;
}

.Chromosome6 {
    width: 50px;
    height: 50px;
    background: gray;
    position: relative;
    left:275px;
    top:-250px;
    color: white;
}

/* Dropdown button */
.Chromosome6 .Chr6_drop {
 font-size: 16px;
 border: none;
 outline: none;
 color: white;
 padding: 14px 16px;
 background-color: inherit;
}
/* Dropdown content (hidden by default) */
.Chr6_drop_info {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.Chr6_drop_info a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: center;
}

/* Add a grey background color to dropdown links on hover */
.Chr6_drop_info a:hover {
 background-color: #ddd;
}

/* Show the dropdown menu on hover */
.Chromosome6:hover .Chr6_drop_info {
 display: block;
}

/* container for the images and embeded url*/
.Chr6 {
  display: none;
  width: 100px;
  height: 50px;
  background: deepskyblue;
  position: relative;
  left:0px;
  top:-200px;
}

.Chromosome7 {
    width: 50px;
    height: 50px;
    background: gray;
    position: relative;
    left:330px;
    top:-300px;
    color: white;
}

/* Dropdown button */
.Chromosome7 .Chr7_drop {
 font-size: 16px;
 border: none;
 outline: none;
 color: white;
 padding: 14px 16px;
 background-color: inherit;
}
/* Dropdown content (hidden by default) */
.Chr7_drop_info {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.Chr7_drop_info a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: center;
}

/* Add a grey background color to dropdown links on hover */
.Chr7_drop_info a:hover {
 background-color: #ddd;
}

/* Show the dropdown menu on hover */
.Chromosome7:hover .Chr7_drop_info {
 display: block;
}

/* container for the images and embeded url*/
.Chr7 {
  display: none;
  width: 100px;
  height: 50px;
  background: deepskyblue;
  position: relative;
  left:0px;
  top:-250px;
}

.Chromosome8 {
    width: 50px;
    height: 50px;
    background: gray;
    position: relative;
    left:385px;
    top:-350px;
    color: white;
}

/* Dropdown button */
.Chromosome8 .Chr8_drop {
 font-size: 16px;
 border: none;
 outline: none;
 color: white;
 padding: 14px 16px;
 background-color: inherit;
}
/* Dropdown content (hidden by default) */
.Chr8_drop_info {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.Chr8_drop_info a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: center;
}

/* Add a grey background color to dropdown links on hover */
.Chr8_drop_info a:hover {
 background-color: #ddd;
}

/* Show the dropdown menu on hover */
.Chromosome8:hover .Chr8_drop_info {
 display: block;
}

/* container for the images and embeded url*/
.Chr8 {
  display: none;
  width: 100px;
  height: 50px;
  background: deepskyblue;
  position: relative;
  left:0px;
  top:-300px;
}

.Chromosome9 {
    width: 50px;
    height: 50px;
    background: gray;
    position: relative;
    left:440px;
    top:-400px;
    color: white;
}

/* Dropdown button */
.Chromosome9 .Chr9_drop {
 font-size: 16px;
 border: none;
 outline: none;
 color: white;
 padding: 14px 16px;
 background-color: inherit;
}
/* Dropdown content (hidden by default) */
.Chr9_drop_info {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.Chr9_drop_info a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: center;
}

/* Add a grey background color to dropdown links on hover */
.Chr9_drop_info a:hover {
 background-color: #ddd;
}

/* Show the dropdown menu on hover */
.Chromosome9:hover .Chr9_drop_info {
 display: block;
}

/* container for the images and embeded url*/
.Chr9 {
  display: none;
  width: 100px;
  height: 50px;
  background: deepskyblue;
  position: relative;
  left:0px;
  top:-350px;
}

.Chromosome10 {
    width: 50px;
    height: 50px;
    background: gray;
    position: relative;
    left:495px;
    top:-450px;
    color: white;
}

/* Dropdown button */
.Chromosome10 .Chr10_drop {
 font-size: 16px;
 border: none;
 outline: none;
 color: white;
 padding: 14px 16px;
 background-color: inherit;
}
/* Dropdown content (hidden by default) */
.Chr10_drop_info {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.Chr10_drop_info a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: center;
}

/* Add a grey background color to dropdown links on hover */
.Chr10_drop_info a:hover {
 background-color: #ddd;
}

/* Show the dropdown menu on hover */
.Chromosome10:hover .Chr10_drop_info {
 display: block;
}

/* container for the images and embeded url*/
.Chr10 {
  display: none;
  width: 100px;
  height: 50px;
  background: deepskyblue;
  position: relative;
  left:0px;
  top:-400px;
}

.Chromosome11 {
    width: 50px;
    height: 50px;
    background: gray;
    position: relative;
    left:550px;
    top:-500px;
    color: white;
}

/* Dropdown button */
.Chromosome11 .Chr11_drop {
 font-size: 16px;
 border: none;
 outline: none;
 color: white;
 padding: 14px 16px;
 background-color: inherit;
}
/* Dropdown content (hidden by default) */
.Chr11_drop_info {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.Chr11_drop_info a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: center;
}

/* Add a grey background color to dropdown links on hover */
.Chr11_drop_info a:hover {
 background-color: #ddd;
}

/* Show the dropdown menu on hover */
.Chromosome11:hover .Chr11_drop_info {
 display: block;
}

/* container for the images and embeded url*/
.Chr11 {
  display: none;
  width: 100px;
  height: 50px;
  background: deepskyblue;
  position: relative;
  left:0px;
  top:-450px;
}

.Chromosome12 {
    width: 50px;
    height: 50px;
    background: gray;
    position: relative;
    left:605px;
    top:-550px;
    color: white;
}

/* Dropdown button */
.Chromosome12 .Chr12_drop {
 font-size: 16px;
 border: none;
 outline: none;
 color: white;
 padding: 14px 16px;
 background-color: inherit;
}
/* Dropdown content (hidden by default) */
.Chr12_drop_info {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.Chr12_drop_info a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: center;
}

/* Add a grey background color to dropdown links on hover */
.Chr12_drop_info a:hover {
 background-color: #ddd;
}

/* Show the dropdown menu on hover */
.Chromosome12:hover .Chr12_drop_info {
 display: block;
}

/* container for the images and embeded url*/
.Chr12 {
  display: none;
  width: 100px;
  height: 50px;
  background: deepskyblue;
  position: relative;
  left:0px;
  top:-500px;
}

.Chromosome13 {
    width: 50px;
    height: 50px;
    background: gray;
    position: relative;
    left:660px;
    top:-600px;
    color: white;
}

/* Dropdown button */
.Chromosome13 .Chr13_drop {
 font-size: 16px;
 border: none;
 outline: none;
 color: white;
 padding: 14px 16px;
 background-color: inherit;
}
/* Dropdown content (hidden by default) */
.Chr13_drop_info {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.Chr13_drop_info a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: center;
}

/* Add a grey background color to dropdown links on hover */
.Chr13_drop_info a:hover {
 background-color: #ddd;
}

/* Show the dropdown menu on hover */
.Chromosome13:hover .Chr13_drop_info {
 display: block;
}

/* container for the images and embeded url*/
.Chr13 {
  display: none;
  width: 100px;
  height: 50px;
  background: deepskyblue;
  position: relative;
  left:0px;
  top:-550px;
}

.Chromosome14 {
    width: 50px;
    height: 50px;
    background: gray;
    position: relative;
    left:715px;
    top:-650px;
    color: white;
}

/* Dropdown button */
.Chromosome14 .Chr14_drop {
 font-size: 16px;
 border: none;
 outline: none;
 color: white;
 padding: 14px 16px;
 background-color: inherit;
}
/* Dropdown content (hidden by default) */
.Chr14_drop_info {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.Chr14_drop_info a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: center;
}

/* Add a grey background color to dropdown links on hover */
.Chr14_drop_info a:hover {
 background-color: #ddd;
}

/* Show the dropdown menu on hover */
.Chromosome14:hover .Chr14_drop_info {
 display: block;
}

/* container for the images and embeded url*/
.Chr14 {
  display: none;
  width: 100px;
  height: 50px;
  background: deepskyblue;
  position: relative;
  left:0px;
  top:-600px;
}

.Chromosome15 {
    width: 50px;
    height: 50px;
    background: gray;
    position: relative;
    left:770px;
    top:-700px;
    color: white;
}

/* Dropdown button */
.Chromosome15 .Chr15_drop {
 font-size: 16px;
 border: none;
 outline: none;
 color: white;
 padding: 14px 16px;
 background-color: inherit;
}
/* Dropdown content (hidden by default) */
.Chr15_drop_info {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.Chr15_drop_info a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: center;
}

/* Add a grey background color to dropdown links on hover */
.Chr15_drop_info a:hover {
 background-color: #ddd;
}

/* Show the dropdown menu on hover */
.Chromosome15:hover .Chr15_drop_info {
 display: block;
}

/* container for the images and embeded url*/
.Chr15 {
  display: none;
  width: 100px;
  height: 50px;
  background: deepskyblue;
  position: relative;
  left:0px;
  top:-650px;
}

.Chromosome16 {
    width: 50px;
    height: 50px;
    background: gray;
    position: relative;
    left:825px;
    top:-750px;
    color: white;
}

/* Dropdown button */
.Chromosome16 .Chr16_drop {
 font-size: 16px;
 border: none;
 outline: none;
 color: white;
 padding: 14px 16px;
 background-color: inherit;
}
/* Dropdown content (hidden by default) */
.Chr16_drop_info {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.Chr16_drop_info a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: center;
}

/* Add a grey background color to dropdown links on hover */
.Chr16_drop_info a:hover {
 background-color: #ddd;
}

/* Show the dropdown menu on hover */
.Chromosome16:hover .Chr16_drop_info {
 display: block;
}

/* container for the images and embeded url*/
.Chr16 {
  display: none;
  width: 100px;
  height: 50px;
  background: deepskyblue;
  position: relative;
  left:0px;
  top:-700px;
}

.Chromosome17 {
    width: 50px;
    height: 50px;
    background: gray;
    position: relative;
    left:880px;
    top:-800px;
    color: white;
}

/* Dropdown button */
.Chromosome17 .Chr17_drop {
 font-size: 16px;
 border: none;
 outline: none;
 color: white;
 padding: 14px 16px;
 background-color: inherit;
}
/* Dropdown content (hidden by default) */
.Chr17_drop_info {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.Chr17_drop_info a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: center;
}

/* Add a grey background color to dropdown links on hover */
.Chr17_drop_info a:hover {
 background-color: #ddd;
}

/* Show the dropdown menu on hover */
.Chromosome17:hover .Chr17_drop_info {
 display: block;
}

/* container for the images and embeded url*/
.Chr17 {
  display: none;
  width: 100px;
  height: 50px;
  background: deepskyblue;
  position: relative;
  left:0px;
  top:-750px;
}

.Chromosome18 {
    width: 50px;
    height: 50px;
    background: gray;
    position: relative;
    left:935px;
    top:-850px;
    color: white;
}

/* Dropdown button */
.Chromosome18 .Chr18_drop {
 font-size: 16px;
 border: none;
 outline: none;
 color: white;
 padding: 14px 16px;
 background-color: inherit;
}
/* Dropdown content (hidden by default) */
.Chr18_drop_info {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.Chr18_drop_info a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: center;
}

/* Add a grey background color to dropdown links on hover */
.Chr18_drop_info a:hover {
 background-color: #ddd;
}

/* Show the dropdown menu on hover */
.Chromosome18:hover .Chr18_drop_info {
 display: block;
}

/* container for the images and embeded url*/
.Chr18 {
  display: none;
  width: 100px;
  height: 50px;
  background: deepskyblue;
  position: relative;
  left:0px;
  top:-800px;
}

.Chromosome19 {
    width: 50px;
    height: 50px;
    background: gray;
    position: relative;
    left:990px;
    top:-900px;
    color: white;
}

/* Dropdown button */
.Chromosome19 .Chr19_drop {
 font-size: 16px;
 border: none;
 outline: none;
 color: white;
 padding: 14px 16px;
 background-color: inherit;
}
/* Dropdown content (hidden by default) */
.Chr19_drop_info {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.Chr19_drop_info a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: center;
}

/* Add a grey background color to dropdown links on hover */
.Chr19_drop_info a:hover {
 background-color: #ddd;
}

/* Show the dropdown menu on hover */
.Chromosome19:hover .Chr19_drop_info {
 display: block;
}

/* container for the images and embeded url*/
.Chr19 {
  display: none;
  width: 100px;
  height: 50px;
  background: deepskyblue;
  position: relative;
  left:0px;
  top:-850px;
}

.Chromosome20 {
    width: 50px;
    height: 50px;
    background: gray;
    position: relative;
    left:1045px;
    top:-950px;
    color: white;
}

/* Dropdown button */
.Chromosome20 .Chr20_drop {
 font-size: 16px;
 border: none;
 outline: none;
 color: white;
 padding: 14px 16px;
 background-color: inherit;
}
/* Dropdown content (hidden by default) */
.Chr20_drop_info {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.Chr20_drop_info a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: center;
}

/* Add a grey background color to dropdown links on hover */
.Chr20_drop_info a:hover {
 background-color: #ddd;
}

/* Show the dropdown menu on hover */
.Chromosome20:hover .Chr20_drop_info {
 display: block;
}

/* container for the images and embeded url*/
.Chr20 {
  display: none;
  width: 100px;
  height: 50px;
  background: deepskyblue;
  position: relative;
  left:0px;
  top:-900px;
}

.Chromosome21 {
    width: 50px;
    height: 50px;
    background: gray;
    position: relative;
    left:1100px;
    top:-1000px;
    color: white;
}

/* Dropdown button */
.Chromosome21 .Chr21_drop {
 font-size: 16px;
 border: none;
 outline: none;
 color: white;
 padding: 14px 16px;
 background-color: inherit;
}
/* Dropdown content (hidden by default) */
.Chr21_drop_info {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.Chr21_drop_info a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: center;
}

/* Add a grey background color to dropdown links on hover */
.Chr21_drop_info a:hover {
 background-color: #ddd;
}

/* Show the dropdown menu on hover */
.Chromosome21:hover .Chr21_drop_info {
 display: block;
}

/* container for the images and embeded url*/
.Chr21 {
  display: none;
  width: 100px;
  height: 50px;
  background: deepskyblue;
  position: relative;
  left:0px;
  top:-950px;
}

.Chromosome22 {
    width: 50px;
    height: 50px;
    background: gray;
    position: relative;
    left:1155px;
    top:-1050px;
    color: white;
}

/* Dropdown button */
.Chromosome22 .Chr22_drop {
 font-size: 16px;
 border: none;
 outline: none;
 color: white;
 padding: 14px 16px;
 background-color: inherit;
}
/* Dropdown content (hidden by default) */
.Chr22_drop_info {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.Chr22_drop_info a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: center;
}

/* Add a grey background color to dropdown links on hover */
.Chr22_drop_info a:hover {
 background-color: #ddd;
}

/* Show the dropdown menu on hover */
.Chromosome22:hover .Chr22_drop_info {
 display: block;
}

/* container for the images and embeded url*/
.Chr22 {
  display: none;
  width: 100px;
  height: 50px;
  background: deepskyblue;
  position: relative;
  left:0px;
  top:-1000px;
}
