body {
    background:white;
	font-family: arial;
}

header {
	color: white;
	background: #000;

}

nav ul{
	margin: -40px;
	display: inline;
}

nav ul li {
	background:#666;
	color: white;
	display: inline-block;
	list-style-type: none;
	padding: 5px 15px;
}

nav ul li a{
	color:white;
}

nav ul li a:hover{
  color: #DDD;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    overflow:hidden;
}

#search22 {
    width: 22cm;  height: 2cm;
}
