<!DOCTYPE html>

<html>
	<head>
		<title>RT Distribution</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<!-- App & fonts-->
		<link rel="stylesheet" type="text/css" href="static/assets/css/distribution.css"/>
		<!-- <link rel="stylesheet" type="text/css" href="static/assets/css/main.css"> -->
		<link rel="stylesheet" type="text/css" href="static/assets/css/main_for_dist.css">
		<link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script>
			$(document).ready(function(){
			  $(".Chromosome1").click(function(){
			    $(".Chr1").toggle();
			  });
			  $(".Chromosome2").click(function(){
			    $(".Chr2").toggle();
			  });
			  $(".Chromosome3").click(function(){
			    $(".Chr3").toggle();
			  });
				$(".Chromosome4").click(function(){
			    $(".Chr4").toggle();
			  });
				$(".Chromosome5").click(function(){
			    $(".Chr5").toggle();
			  });
				$(".Chromosome6").click(function(){
			    $(".Chr6").toggle();
			  });
				$(".Chromosome7").click(function(){
			    $(".Chr7").toggle();
			  });
				$(".Chromosome8").click(function(){
			    $(".Chr8").toggle();
			  });
				$(".Chromosome9").click(function(){
			    $(".Chr9").toggle();
			  });
				$(".Chromosome10").click(function(){
			    $(".Chr10").toggle();
			  });
				$(".Chromosome11").click(function(){
			    $(".Chr11").toggle();
			  });
				$(".Chromosome12").click(function(){
			    $(".Chr12").toggle();
			  });
				$(".Chromosome13").click(function(){
			    $(".Chr13").toggle();
			  });
				$(".Chromosome14").click(function(){
			    $(".Chr14").toggle();
			  });
				$(".Chromosome15").click(function(){
			    $(".Chr15").toggle();
			  });
				$(".Chromosome16").click(function(){
			    $(".Chr16").toggle();
			  });
				$(".Chromosome17").click(function(){
			    $(".Chr17").toggle();
			  });
				$(".Chromosome18").click(function(){
			    $(".Chr18").toggle();
			  });
				$(".Chromosome19").click(function(){
			    $(".Chr19").toggle();
			  });
				$(".Chromosome20").click(function(){
			    $(".Chr20").toggle();
			  });
				$(".Chromosome21").click(function(){
			    $(".Chr21").toggle();
			  });
				$(".Chromosome22").click(function(){
			    $(".Chr22").toggle();
			  });
				$(".ChromosomeX").click(function(){
			    $(".ChrX").toggle();
			  });
				$(".ChromosomeY").click(function(){
			    $(".ChrY").toggle();
			  });
			});
		</script>

	</head>
	<body>
		<div class="page-wrap">

			<!-- header -->
			<header class="header">
				<div class="container">



					<!-- fett-nav -->
					<nav class="fett-nav">

						<!-- fett-menu -->
						<ul class="fett-menu">
							<li class="fett-menu"><a href="{{ url_for('indexpage')}}">Home</a>
							</li>
							<li><a href="{{ url_for('family_table_HERV_Superfamilies')}}">Family Table</a>
							</li>
							<li class="current-menu-item"><a href="{{ url_for('distribution')}}">Distribution</a>
							</li>
							<li class="menu-item-has-children"><a href="#">Translated</a>
								<ul class="sub-menu">
									<li><a href="{{ url_for('serverside_table')}}">Translated products</a>
									</li>
									<li><a href="{{ url_for('relationship_AA')}}">AA Relationship Viewer</a>
									</li>
								</ul>
							</li>
							<li class="fett-menu"><a href="#">Upload Files</a>
								<ul class="sub-menu">
									<li><a href="{{ url_for('peptide_seq_ident')}}">Peptide Sequence identifier</a>
									</li>
									<li><a href="{{ url_for('upload_peptide')}}">MzIdent / MzTab</a>
									</li>
								</ul>
							</li>
							<li><a href="{{ url_for('atlas')}}">Atlas</a>
							</li>
							<li class="menu-item-has-children"><a href="#">project</a>
								<ul class="sub-menu">
									<li><a href="{{ url_for('documentation')}}">Documentation</a>
									</li>
									<li><a href="{{ url_for('about_us')}}">About Us</a>
									</li>
								</ul>
						</ul><!-- fett-menu -->

						<div class="navbar-toggle"><span></span><span></span><span></span></div>
					</nav><!-- End / fett-nav -->

				</div>

		</header>
		<div class="md-content">
			<!-- page-title -->
			<div class="page-title">
						<div class="col-lg-8 offset-0 offset-sm-0 offset-md-0 offset-lg-2 ">
							<h2 class="page-title__title">Distribution</h2>
								<div class="container">
									<hr>
									<div class=container>
									<h5 style="text-align: center;">Please select a chromosome to view the distribution of HERV and LINE1 repeats :</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
		</div> <!-- REMOVE FROM THE WRAP  -->
			<P><div class="Genome"></P>
			  <div class="Chromosome1">
				<button onclick="return false;" class="dropbtn">Chr1</button>
				<div class="Chr1_drop_info">
				  <a>Repeats:<br>HERV={{H[1]}} <br> LINE1={{L[2]}}</a>
				</div>
			  </div>
			  <div class="Chr1">
				<img src="static/assets/img/chromosomes/chr1.png">
			  </div>

			  <div class="Chromosome2">
				<button onclick="return false;" class="dropbtn">Chr2</button>
				<div class="Chr2_drop_info">
				  <a>Repeats:<br>HERV={{H[12]}} <br> LINE1={{L[12]}}</a>
				</div>
			  </div>
			  <div class="Chr2">
				<img src="static/assets/img/chromosomes/chr2.png">
			  </div>

			  <div class="Chromosome3">
				<button onclick="return false;" class="dropbtn">Chr3</button>
				<div class="Chr3_drop_info">
				  <a>Repeats:<br>HERV={{H[16]}} <br> LINE1={{L[16]}}</a>
				</div>
			  </div>
			  <div class="Chr3">
			  <img src="static/assets/img/chromosomes/chr3.png">
			  </div>

				<div class="Chromosome4">
				<button onclick="return false;" class="dropbtn">Chr4</button>
				<div class="Chr4_drop_info">
				  <a>Repeats:<br>HERV={{H[17]}} <br> LINE1={{L[17]}}</a>
				</div>
			  </div>
			  <div class="Chr4">
			  <img src="static/assets/img/chromosomes/chr4.png">
			  </div>

				<div class="Chromosome5">
				<button onclick="return false;" class="dropbtn">Chr5</button>
				<div class="Chr5_drop_info">
				  <a>Repeats:<br>HERV={{H[18]}} <br> LINE1={{L[18]}}</a>
				</div>
			  </div>
			  <div class="Chr5">
			  <img src="static/assets/img/chromosomes/chr5.png">
			  </div>

				<div class="Chromosome6">
				<button onclick="return false;" class="dropbtn">Chr6</button>
				<div class="Chr6_drop_info">
				  <a>Repeats:<br>HERV={{H[19]}} <br> LINE1={{L[19]}}</a>
				</div>
			  </div>
			  <div class="Chr6">
			  <img src="static/assets/img/chromosomes/chr6.png">
			  </div>

				<div class="Chromosome7">
				<button onclick="return false;" class="dropbtn">Chr7</button>
				<div class="Chr7_drop_info">
				  <a>Repeats:<br>HERV={{H[20]}} <br> LINE1={{L[20]}}</a>
				</div>
			  </div>
			  <div class="Chr7">
			  <img src="static/assets/img/chromosomes/chr7.png">
			  </div>

				<div class="Chromosome8">
				<button onclick="return false;" class="dropbtn">Chr8</button>
				<div class="Chr8_drop_info">
				  <a>Repeats:<br>HERV={{H[21]}} <br> LINE1={{L[21]}}</a>
				</div>
			  </div>
			  <div class="Chr8">
			  <img src="static/assets/img/chromosomes/chr8.png">
			  </div>

				<div class="Chromosome9">
				<button onclick="return false;" class="dropbtn">Chr9</button>
				<div class="Chr9_drop_info">
				  <a>Repeats:<br>HERV={{H[22]}} <br> LINE1={{L[22]}}</a>
				</div>
			  </div>
			  <div class="Chr9">
			  <img src="static/assets/img/chromosomes/chr9.png">
			  </div>

				<div class="Chromosome10">
				<button onclick="return false;" class="dropbtn">Chr10</button>
				<div class="Chr10_drop_info">
				  <a>Repeats:<br>HERV={{H[3]}} <br> LINE1={{L[2]}}</a>
				</div>
			  </div>
			  <div class="Chr10">
			  <img src="static/assets/img/chromosomes/chr10.png">
			  </div>

				<div class="Chromosome11">
				<button onclick="return false;" class="dropbtn">Chr11</button>
				<div class="Chr11_drop_info">
				  <a>Repeats:<br>HERV={{H[4]}} <br> LINE1={{L[3]}}</a>
				</div>
			  </div>
			  <div class="Chr11">
			  <img src="static/assets/img/chromosomes/chr11.png">
			  </div>

				<div class="Chromosome12">
				<button onclick="return false;" class="dropbtn">Chr12</button>
				<div class="Chr12_drop_info">
				  <a>Repeats:<br>HERV={{H[5]}} <br> LINE1={{L[4]}}</a>
				</div>
			  </div>
			  <div class="Chr12">
			  <img src="static/assets/img/chromosomes/chr12.png">
			  </div>

				<div class="Chromosome13">
				<button onclick="return false;" class="dropbtn">Chr13</button>
				<div class="Chr13_drop_info">
				  <a>Repeats:<br>HERV={{H[6]}} <br> LINE1={{L[5]}}</a>
				</div>
			  </div>
			  <div class="Chr13">
			  <img src="static/assets/img/chromosomes/chr13.png">
			  </div>

				<div class="Chromosome14">
				<button onclick="return false;" class="dropbtn">Chr14</button>
				<div class="Chr14_drop_info">
				  <a>Repeats:<br>HERV={{H[7]}} <br> LINE1={{L[6]}}</a>
				</div>
			  </div>
			  <div class="Chr14">
			  <img src="static/assets/img/chromosomes/chr14.png">
			  </div>

				<div class="Chromosome15">
				<button onclick="return false;" class="dropbtn">Chr15</button>
				<div class="Chr15_drop_info">
				  <a>Repeats:<br>HERV={{H[8]}} <br> LINE1={{L[7]}}</a>
				</div>
			  </div>
			  <div class="Chr15">
			  <img src="static/assets/img/chromosomes/chr15.png">
			  </div>

				<div class="Chromosome16">
				<button onclick="return false;" class="dropbtn">Chr16</button>
				<div class="Chr16_drop_info">
				  <a>Repeats:<br>HERV={{H[9]}} <br> LINE1={{L[8]}}</a>
				</div>
			  </div>
			  <div class="Chr16">
			  <img src="static/assets/img/chromosomes/chr16.png">
			  </div>

				<div class="Chromosome17">
				<button onclick="return false;" class="dropbtn">Chr17</button>
				<div class="Chr17_drop_info">
				  <a>Repeats:<br>HERV={{H[10]}} <br> LINE1={{L[9]}}</a>
				</div>
			  </div>
			  <div class="Chr17">
			  <img src="static/assets/img/chromosomes/chr17.png">
			  </div>

				<div class="Chromosome18">
				<button onclick="return false;" class="dropbtn">Chr18</button>
				<div class="Chr18_drop_info">
				  <a>Repeats:<br>HERV={{H[11]}} <br> LINE1={{L[10]}}</a>
				</div>
			  </div>
			  <div class="Chr18">
			  <img src="static/assets/img/chromosomes/chr18.png">
			  </div>

				<div class="Chromosome19">
				<button onclick="return false;" class="dropbtn">Chr19</button>
				<div class="Chr19_drop_info">
				  <a>Repeats:<br>HERV={{H[12]}} <br> LINE1={{L[11]}}</a>
				</div>
			  </div>
			  <div class="Chr19">
			  <img src="static/assets/img/chromosomes/chr19.png">
			  </div>

				<div class="Chromosome20">
				<button onclick="return false;" class="dropbtn">Chr20</button>
				<div class="Chr20_drop_info">
				  <a>Repeats:<br>HERV={{H[14]}} <br> LINE1={{L[13]}}</a>
				</div>
			  </div>
			  <div class="Chr20">
			  <img src="static/assets/img/chromosomes/chr20.png">
			  </div>

				<div class="Chromosome21">
				<button onclick="return false;" class="dropbtn">Chr21</button>
				<div class="Chr21_drop_info">
				  <a>Repeats:<br>HERV={{H[15]}} <br> LINE1={{L[14]}}</a>
				</div>
			  </div>
			  <div class="Chr21">
			  <img src="static/assets/img/chromosomes/chr21.png">
			  </div>

				<div class="Chromosome22">
				<button onclick="return false;" class="dropbtn">Chr22</button>
				<div class="Chr22_drop_info">
				  <a>Repeats:<br>HERV={{H[16]}} <br> LINE1={{L[15]}}</a>
				</div>
			  </div>
			  <div class="Chr22">
			  <img src="static/assets/img/chromosomes/chr22.png">
			  </div>

				<div class="ChromosomeX">
				<button onclick="return false;" class="dropbtn">ChrX</button>
				<div class="ChrX_drop_info">
				  <a>Repeats:<br>HERV={{H[23]}} <br> LINE1={{L[23]}}</a>
				</div>
			  </div>
			  <div class="ChrX">
			  <img src="static/assets/img/chromosomes/chrX.png">
			  </div>

				<div class="ChromosomeY">
				<button onclick="return false;" class="dropbtn">ChrY</button>
				<div class="ChrY_drop_info">
				  <a>Repeats:<br>HERV={{H[24]}} <br> LINE1={{L[24]}}</a>
				</div>
			  </div>
			  <div class="ChrY">
			  <img src="static/assets/img/chromosomes/chrY.png">
			  </div>
			</div>



	</body>

</html>
