<!DOCTYPE html>

<html>
	<head>
		<title>RT Distribution</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<!-- App & fonts-->
		<link rel="stylesheet" type="text/css" href="static/distribution.css"/>
		<!-- <link rel="stylesheet" type="text/css" href="static/assets/css/main.css"> -->
		<link rel="stylesheet" type="text/css" href="static/assets/css/main_for_dist.css">
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script>
			$(document).ready(function(){
			  $(".Chromosome1").click(function(){
			    $(".Chr1").toggle();
			  });
			  $(".Chromosome2").click(function(){
			    $(".Chr2").toggle();
			  });
			  $(".Chromosome3").click(function(){
			    $(".Chr3").toggle();
			  });
				$(".Chromosome4").click(function(){
			    $(".Chr4").toggle();
			  });
				$(".Chromosome5").click(function(){
			    $(".Chr5").toggle();
			  });
				$(".Chromosome6").click(function(){
			    $(".Chr6").toggle();
			  });
				$(".Chromosome7").click(function(){
			    $(".Chr7").toggle();
			  });
				$(".Chromosome8").click(function(){
			    $(".Chr8").toggle();
			  });
				$(".Chromosome9").click(function(){
			    $(".Chr9").toggle();
			  });
				$(".Chromosome10").click(function(){
			    $(".Chr10").toggle();
			  });
				$(".Chromosome11").click(function(){
			    $(".Chr11").toggle();
			  });
				$(".Chromosome12").click(function(){
			    $(".Chr12").toggle();
			  });
				$(".Chromosome13").click(function(){
			    $(".Chr13").toggle();
			  });
				$(".Chromosome14").click(function(){
			    $(".Chr14").toggle();
			  });
				$(".Chromosome15").click(function(){
			    $(".Chr15").toggle();
			  });
				$(".Chromosome16").click(function(){
			    $(".Chr16").toggle();
			  });
				$(".Chromosome17").click(function(){
			    $(".Chr17").toggle();
			  });
				$(".Chromosome18").click(function(){
			    $(".Chr18").toggle();
			  });
				$(".Chromosome19").click(function(){
			    $(".Chr19").toggle();
			  });
				$(".Chromosome20").click(function(){
			    $(".Chr20").toggle();
			  });
				$(".Chromosome21").click(function(){
			    $(".Chr21").toggle();
			  });
				$(".Chromosome22").click(function(){
			    $(".Chr22").toggle();
			  });
				$(".ChromosomeX").click(function(){
			    $(".ChrX").toggle();
			  });
				$(".ChromosomeY").click(function(){
			    $(".ChrY").toggle();
			  });
			});
		</script>

	</head>
	<body>
		<div class="page-wrap">

			<!-- header -->
			<header class="header">
				<div class="container">

					<!-- consult-nav -->
					<nav class="consult-nav">

						<!-- consult-menu -->
						<ul class="consult-menu">
							<li class="consult-menu"><a href="{{ url_for('indexpage')}}">Home</a>
							</li>
							<li><a href="{{ url_for('family_table')}}">Family Table</a>
							</li>
							<li class="current-menu-item"><a href="{{ url_for('distribution')}}">Distribution</a>
							</li>
							<li class="menu-item-has-children"><a href="#">Translated</a>
								<ul class="sub-menu">
									<li><a href="{{ url_for('AA_seq_list')}}">Translated products</a>
									</li>
									<li><a href="{{ url_for('relationship_AA')}}">AA Relationship Viewer</a>
									</li>
								</ul>
							</li>
							<li class="consult-menu"><a href="#">Upload Files</a>
								<ul class="sub-menu">
									<li><a href="{{ url_for('peptide_seq_ident')}}">Peptide Sequence identifier</a>
									</li>
									<li><a href="{{ url_for('upload_peptide')}}">MzIdent / MzTab</a>
									</li>
								</ul>
							</li>
							<li><a href="{{ url_for('atlas')}}">Atlas</a>
							</li>
							<li class="menu-item-has-children"><a href="#">project</a>
								<ul class="sub-menu">
									<li><a href="{{ url_for('documentation')}}">Documentation</a>
									</li>
									<li><a href="{{ url_for('about_us')}}">About Us</a>
									</li>
								</ul>
						</ul><!-- consult-menu -->

						<div class="navbar-toggle"><span></span><span></span><span></span></div>
					</nav><!-- End / consult-nav -->

				</div>

		</header>

	<div class="container">
		<P><a>Select a chromosome to see the distribution of Retrotransposons</a></P>
		<P><div class="Genome"></P>
		  <div class="Chromosome1">Chr1
		    <button class="Chr1_drop">
		      <i class"fa fa-caret-down"><i/>
		    </button>
		    <div class="Chr1_drop_info">
		      <a href="">RTs:<br>HERV=50,991 <br> LINE1=69,538</a>
		    </div>
		  </div>
		  <div class="Chr1">
		    <img src="static/chr1.png">
		  </div>

		  <div class="Chromosome2">Chr2
		    <button class="Chr2_drop">
		      <i class"fa fa-caret-down"><i/>
		    </button>
		    <div class="Chr2_drop_info">
		      <a href="">RTs:<br>HERV=55,837 <br> LINE1=80,721</a>
		    </div>
		  </div>
		  <div class="Chr2">
		    <img src="static/chr2.png">
		  </div>

		  <div class="Chromosome3">Chr3
		    <button class="Chr3_drop">
		      <i class"fa fa-caret-down"><i/>
		    </button>
		    <div class="Chr3_drop_info">
		      <a href="">RTs:<br>HERV=? <br> LINE1=?</a>
		    </div>
		  </div>
		  <div class="Chr3">
		  <img src="static/chr3.png">
		  </div>

			<div class="Chromosome4">Chr4
		    <button class="Chr4_drop">
		      <i class"fa fa-caret-down"><i/>
		    </button>
		    <div class="Chr4_drop_info">
		      <a href="">RTs:<br>HERV=? <br> LINE1=?</a>
		    </div>
		  </div>
		  <div class="Chr4">
		  <img src="static/chr4.png">
		  </div>

			<div class="Chromosome5">Chr5
		    <button class="Chr5_drop">
		      <i class"fa fa-caret-down"><i/>
		    </button>
		    <div class="Chr5_drop_info">
		      <a href="">RTs:<br>HERV=? <br> LINE1=?</a>
		    </div>
		  </div>
		  <div class="Chr5">
		  <img src="static/chr5.png">
		  </div>

			<div class="Chromosome6">Chr6
		    <button class="Chr6_drop">
		      <i class"fa fa-caret-down"><i/>
		    </button>
		    <div class="Chr6_drop_info">
		      <a href="">RTs:<br>HERV=? <br> LINE1=?</a>
		    </div>
		  </div>
		  <div class="Chr6">
		  <img src="static/chr6.png">
		  </div>

			<div class="Chromosome7">Chr7
		    <button class="Chr7_drop">
		      <i class"fa fa-caret-down"><i/>
		    </button>
		    <div class="Chr7_drop_info">
		      <a href="">RTs:<br>HERV=? <br> LINE1=?</a>
		    </div>
		  </div>
		  <div class="Chr7">
		  <img src="static/chr7.png">
		  </div>

			<div class="Chromosome8">Chr8
		    <button class="Chr8_drop">
		      <i class"fa fa-caret-down"><i/>
		    </button>
		    <div class="Chr8_drop_info">
		      <a href="">RTs:<br>HERV=? <br> LINE1=?</a>
		    </div>
		  </div>
		  <div class="Chr8">
		  <img src="static/chr8.png">
		  </div>

			<div class="Chromosome9">Chr9
		    <button class="Chr9_drop">
		      <i class"fa fa-caret-down"><i/>
		    </button>
		    <div class="Chr9_drop_info">
		      <a href="">RTs:<br>HERV=? <br> LINE1=?</a>
		    </div>
		  </div>
		  <div class="Chr9">
		  <img src="static/chr9.png">
		  </div>

			<div class="Chromosome10">Chr10
		    <button class="Chr10_drop">
		      <i class"fa fa-caret-down"><i/>
		    </button>
		    <div class="Chr10_drop_info">
		      <a href="">RTs:<br>HERV=? <br> LINE1=?</a>
		    </div>
		  </div>
		  <div class="Chr10">
		  <img src="static/chr10.png">
		  </div>

			<div class="Chromosome11">Chr11
		    <button class="Chr11_drop">
		      <i class"fa fa-caret-down"><i/>
		    </button>
		    <div class="Chr11_drop_info">
		      <a href="">RTs:<br>HERV=? <br> LINE1=?</a>
		    </div>
		  </div>
		  <div class="Chr11">
		  <img src="static/chr11.png">
		  </div>

			<div class="Chromosome12">Chr12
		    <button class="Chr12_drop">
		      <i class"fa fa-caret-down"><i/>
		    </button>
		    <div class="Chr12_drop_info">
		      <a href="">RTs:<br>HERV=? <br> LINE1=?</a>
		    </div>
		  </div>
		  <div class="Chr12">
		  <img src="static/chr12.png">
		  </div>

			<div class="Chromosome13">Chr13
		    <button class="Chr13_drop">
		      <i class"fa fa-caret-down"><i/>
		    </button>
		    <div class="Chr13_drop_info">
		      <a href="">RTs:<br>HERV=? <br> LINE1=?</a>
		    </div>
		  </div>
		  <div class="Chr13">
		  <img src="static/chr13.png">
		  </div>

			<div class="Chromosome14">Chr14
		    <button class="Chr14_drop">
		      <i class"fa fa-caret-down"><i/>
		    </button>
		    <div class="Chr14_drop_info">
		      <a href="">RTs:<br>HERV=? <br> LINE1=?</a>
		    </div>
		  </div>
		  <div class="Chr14">
		  <img src="static/chr14.png">
		  </div>

			<div class="Chromosome15">Chr15
		    <button class="Chr15_drop">
		      <i class"fa fa-caret-down"><i/>
		    </button>
		    <div class="Chr15_drop_info">
		      <a href="">RTs:<br>HERV=? <br> LINE1=?</a>
		    </div>
		  </div>
		  <div class="Chr15">
		  <img src="static/chr15.png">
		  </div>

			<div class="Chromosome16">Chr16
		    <button class="Chr16_drop">
		      <i class"fa fa-caret-down"><i/>
		    </button>
		    <div class="Chr16_drop_info">
		      <a href="">RTs:<br>HERV=? <br> LINE1=?</a>
		    </div>
		  </div>
		  <div class="Chr16">
		  <img src="static/chr16.png">
		  </div>

			<div class="Chromosome17">Chr17
		    <button class="Chr17_drop">
		      <i class"fa fa-caret-down"><i/>
		    </button>
		    <div class="Chr17_drop_info">
		      <a href="">RTs:<br>HERV=? <br> LINE1=?</a>
		    </div>
		  </div>
		  <div class="Chr17">
		  <img src="static/chr17.png">
		  </div>

			<div class="Chromosome18">Chr18
		    <button class="Chr18_drop">
		      <i class"fa fa-caret-down"><i/>
		    </button>
		    <div class="Chr18_drop_info">
		      <a href="">RTs:<br>HERV=? <br> LINE1=?</a>
		    </div>
		  </div>
		  <div class="Chr18">
		  <img src="static/chr18.png">
		  </div>

			<div class="Chromosome19">Chr19
		    <button class="Chr19_drop">
		      <i class"fa fa-caret-down"><i/>
		    </button>
		    <div class="Chr19_drop_info">
		      <a href="">RTs:<br>HERV=? <br> LINE1=?</a>
		    </div>
		  </div>
		  <div class="Chr19">
		  <img src="static/chr19.png">
		  </div>

			<div class="Chromosome20">Chr20
		    <button class="Chr20_drop">
		      <i class"fa fa-caret-down"><i/>
		    </button>
		    <div class="Chr20_drop_info">
		      <a href="">RTs:<br>HERV=? <br> LINE1=?</a>
		    </div>
		  </div>
		  <div class="Chr20">
		  <img src="static/chr20.png">
		  </div>

			<div class="Chromosome21">Chr21
		    <button class="Chr21_drop">
		      <i class"fa fa-caret-down"><i/>
		    </button>
		    <div class="Chr21_drop_info">
		      <a href="">RTs:<br>HERV=? <br> LINE1=?</a>
		    </div>
		  </div>
		  <div class="Chr21">
		  <img src="static/chr21.png">
		  </div>

			<div class="Chromosome22">Chr22
		    <button class="Chr22_drop">
		      <i class"fa fa-caret-down"><i/>
		    </button>
		    <div class="Chr22_drop_info">
		      <a href="">RTs:<br>HERV=? <br> LINE1=?</a>
		    </div>
		  </div>
		  <div class="Chr22">
		  <img src="static/chr22.png">
		  </div>

			<div class="ChromosomeX">ChrX
		    <button class="ChrX_drop">
		      <i class"fa fa-caret-down"><i/>
		    </button>
		    <div class="ChrX_drop_info">
		      <a href="">RTs:<br>HERV=? <br> LINE1=?</a>
		    </div>
		  </div>
		  <div class="ChrX">
		  <img src="static/chrX.png">
		  </div>

			<div class="ChromosomeY">ChrY
		    <button class="ChrY_drop">
		      <i class"fa fa-caret-down"><i/>
		    </button>
		    <div class="ChrY_drop_info">
		      <a href="">RTs:<br>HERV=? <br> LINE1=?</a>
		    </div>
		  </div>
		  <div class="ChrY">
		  <img src="static/chrY.png">
		  </div>
		</div>


	</body>

</html>
