<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Expression Atlas</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<!-- Fonts-->
		<link rel="stylesheet" type="text/css" href="static/assets/fonts/fontawesome/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="static/assets/fonts/themify-icons/themify-icons.css">
		<!-- Vendors-->
		<!-- <link rel="stylesheet" type="text/css" href="static/vendors/bootstrap4/bootstrap-grid.min.css"> -->
		<link rel="stylesheet" type="text/css" href="static/assets/vendors/magnific-popup/magnific-popup.min.css">
		<link rel="stylesheet" type="text/css" href="static/assets/vendors/owl.carousel/owl.carousel.css">
		<!-- App & fonts-->
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i&amp;amp;subset=latin-ext">
		<link rel="stylesheet" type="text/css" href="static/assets/css/main.css">
		<link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="http://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
		<script>
			$(document).ready( function () {
					$('#Atlas2').DataTable();FFF;
		} );
		$(document).ready( function () {
				$('#Atlas4').DataTable();FFF;
		} );
		</script>
	</head>

	<body>
		<div class="page-wrap">

			<!-- header -->
			<header class="header">
				<div class="container">
					<div class="header__logo"><a href="{{ url_for('indexpage')}}"><img src="static/assets/img/fetbase_logo.png" alt=""/></a></div>
					<div class="header__toogleGroup">
						<div class="header__chooseLanguage">
						<div class="search-form">
							<div class="search-form__toggle"><i class=""></i></div>
							<div class="search-form__form">

												<!-- form-search -->


							</div>
						</div>
					</div>
				</div>

					<!-- fett-nav -->
					<nav class="fett-nav">

						<!-- fett-menu -->
						<ul class="fett-menu">
							<li class="fett-menu"><a href="{{ url_for('indexpage')}}">Home</a>
							</li>
							<li><a href="{{ url_for('family_table_HERV_Superfamilies')}}">Family Table</a>
							</li>
							<li><a href="{{ url_for('distribution')}}">Distribution</a>
							</li>
							<li class="menu-item-has-children"><a href="#">Translated</a>
								<ul class="sub-menu">
									<li><a href="{{ url_for('AA_seq_list')}}">Translated products</a>
									</li>
									<li><a href="{{ url_for('relationship_AA')}}">AA Relationship Viewer</a>
									</li>
								</ul>
							</li>
							<li class="menu-item-has-children"><a href="#">Upload Files</a>
								<ul class="sub-menu">
									<li><a href="{{ url_for('peptide_seq_ident')}}">Peptide Sequence identifier</a>
									</li>
									<li><a href="{{ url_for('upload_peptide')}}">MzIdent / MzTab</a>
									</li>
								</ul>
							</li>
							<li class="current-menu-item"><a href="{{ url_for('atlas')}}">Atlas</a>
							</li>
							<li class="menu-item-has-children"><a href="#">project</a>
								<ul class="sub-menu">
									<li><a href="{{ url_for('documentation')}}">Documentation</a>
									</li>
									<li><a href="{{ url_for('about_us')}}">About Us</a>
									</li>
								</ul>
						</ul><!-- fett-menu -->

						<div class="navbar-toggle"><span></span><span></span><span></span></div>
					</nav><!-- End / fett-nav -->

				</div>
			</header><!-- End / header -->
			<div class="md-content">
				<!-- page-title -->
				<div class="page-title">
							<div class="col-lg-8 offset-0 offset-sm-0 offset-md-0 offset-lg-2 ">
								<h2 class="page-title__title">Expression Atlas</h2>
									<div class="container">
										<hr>
										<div class=container>
										<h5 style="text-align: center;">Select a disease or tissue type to view the percentage of each individual repeat found.</h5>
										<hr>
										<button onclick="window.location.href='{{ url_for('atlas')}}'" class="dropbtn">View All Repeats</button>
										</div>
									</div>
								</div>
							</div>
						</div>


	<p>&nbsp;</p>
	<div class="container">
		<form id="upload-form" action="{{ url_for("atlas2")}}" method="POST" enctype="multipart/form-data">
		Please Select Tissue Type to display:
		<select class= id="tissue_type" name="tissue_type">
			<option value="Unknown">Unknown</option>
			<option value="Adrenal Gland">Adrenal Gland</option>
			<option value="Anus and Anal Canal">Anus and Anal Canal</option>
			<option value="Bile duct">Bile duct</option>
			<option value="Bladder">Bladder</option>
			<option value="Blood">Blood</option>
			<option value="Bone">Bone</option>
			<option value="Bone Marrow">Bone Marrow</option>
			<option value="Brain">Brain</option>
			<option value="Breast">Breast</option>
			<option value="Bronchus and Lung">Bronchus and Lung</option>
			<option value="Cervix">Cervix</option>
			<option value="Colon">Colon</option>
			<option value="Colorectal">Colorectal</option>
			<option value="Esophagus">Esophagus</option>
			<option value="Eye">Eye</option>
			<option value="Head and Neck">Head and Neck</option>
			<option value="Heart">Heart</option>
			<option value="Lidney">Kidney</option>
			<option value="Liver and bile ducts">Liver and bile ducts</option>
			<option value="Lung">Lung</option>
			<option value="Lymph Nodes">Lymph Nodes</option>
			<option value="Nervous System">Nervous System</option>
			<option value="Ovary">Ovary</option>
			<option value="Pancreas">Pancreas</option>
			<option value="Penis">Penis</option>
			<option value="Peripheral nerves and ANS">Peripheral nerves and ANS</option>
			<option value="Prostate">Prostate</option>
			<option value="Rectum">Rectum</option>
			<option value="Skin">Skin</option>
			<option value="Small Intestine">Small Intestine</option>
			<option value="Soft Tissue">Soft Tissue</option>
			<option value="Spinal Cord / other CNS">Spinal Cord / other CNS</option>
			<option value="Stomach">Stomach</option>
			<option value="Testes">Testes</option>
			<option value="Thymus">Thymus</option>
			<option value="Thyroid">Thyroid</option>
			<option value="Trachea">Trachea</option>
			<option value="Ureter">Ureter</option>
			<option value="Uterus">Uterus</option>
			<option value="Vagina">Vagina</option>
			<option value="Vulva">Vulva</option>
		</select>
		<input type="submit" value="submit">



		<table id = "Atlas2" class = "display">
		<h5 style="text-align: center;">% OF each repeat/tissue selected found:</h5>
			<thead>
			 <tr>
				 <th>Tissue Type</th>
				 <th>No of Families found</th>
				 <th>Familiess</th>
				 <th>%</th>
			 </tr>
		 </thead>
		 <tbody>
				{% for row in individual_percentage %}
						<tr>
						{% for a in row %}
								<td>{{ a }}</td>
						{% endfor %}
						</tr>
				{% endfor %}
		 </tbody>
		</table>
	</form>
	<br>
	<br>
	<hr>
	<br>
	<br>


	<form id="upload-form" action="{{ url_for("atlas2")}}" method="POST" enctype="multipart/form-data">
		Please Select Disease Type to display:
		<select class= id="disease_type" name="disease_type">
			<option value="autoimmune">AutoImmune</option>
			<option value="cancer">Cancer</option>
			<option value="cardiovascular_disease">Cardiovascular Disease</option>
			<option value="infectious_and_parasitic">Infectious and Parasitic</option>
			<option value="liver_disease">Liver Disease</option>
			<option value="neurological_disease">Neurological Disease</option>
			<option value="other">Other</option>
			<option value="unknown">Unknown</option>
		</select>
		<input type="submit" value="submit">
		</form>
		<table id = "Atlas4" class = "display">
		<h5 style="text-align: center;">% OF each repeat/disease selected found:</h5>
			<thead>
			 <tr>
				 <th>Disease Type</th>
				 <th>Tissue Type</th>
				 <th>No of Families found</th>
				 <th>Familiess</th>
				 <th>%</th>
			 </tr>
		 </thead>
		 <tbody>
				{% for row in ind_repeat_disease %}
						<tr>
						{% for a in row %}
								<td>{{ a }}</td>
						{% endfor %}
						</tr>
				{% endfor %}
		 </tbody>
		</table>

	</div>

	</body>

</html>
