<!DOCTYPE html>

<html>
	<head>
		<title>Retroelement Family Table</title>
	</head>
	<body>
		<link rel="stylesheet" type="text/css" href="static/style.css")}}"/>
		<h1>Table of family retroelements</h1>

		
		<a href="{{ url_for('indexpage')}}">HomePage</a> <br>
		Family table <br>
		<a href="{{ url_for('distribution')}}">Distribution of retroelements</a> <br>
		<a href="{{ url_for('AA_seq_list')}}">Translated products (list) </a> <br>
		<a href="{{ url_for('relationship_AA')}}">AA Relationship viewer </a> <br>
		<a href="{{ url_for('peptide_seq_ident')}}">Peptide sequence identifier</a> <br>
		<a href="{{ url_for('upload_peptide')}}">Upload a file </a> <br>
		
		
		<footer> c2018 </footer>
	</body>

</html>