<!DOCTYPE html>

<html lang="en">
	<head>
		<!-- Required meta tags -->
	 <meta charset="utf-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	 <link rel="stylesheet" type="text/css" href="/static/index.css"/>
	 <link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<title>Retrotransposons Analyser Homepage</title>
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li><a href="{{ url_for('indexpage')}}">HomePage</a></li>
					<li><a href="{{ url_for('family_table')}}">Family table </a></li>
					<li><a href="{{ url_for('distribution')}}">Distribution of retroelements</a></li>
					<li><a href="{{ url_for('AA_seq_list')}}">Translated products (list)</a></li>
					<li><a href="{{ url_for('relationship_AA')}}">AA Relationship viewer </a></li>
					<li><a href="{{ url_for('peptide_seq_ident')}}">Peptide sequence identifier</a></li>
					<li><a href="{{ url_for('upload_peptide')}}">Upload a file </a></li>
					<li><a href="{{ url_for('atlas')}}">Expression Atlas </a></li>
					<li><a href="{{ url_for('documentation')}}">Documentation</a></li>
					<li><a href="{{ url_for('about_us')}}">About us </a></li>
					<li><input type="text" placeholder="Search.."></li>
				</ul>
			</nav>
		</header>
		<hr>
		<div class="container">
		<h4 style="text-align: center;"><strong>Welcome to Fettuccine Human LINE-1 &amp;
			HERV Transposable Elements Platform</strong></h4>

		<p style="text-align: center;">This platform provides complete and updated information
			about the predicted translated products of the Endogenous Retrovirus (HERV) and Long
			Interspersed Nuclear Elements (LINE-1) retrotransposons families and the powerful
			"pep-seq identifier" tool</p>
		<hr>
		<p style="text-align:center;"><img src="image2.jpg" height="185px" width="300px" onclick="imageclick()"/>
		<script type="text/javascript" src="java1.js"></script>
		</p>
		</div>

		<hr>
		<div class="container">
		<p style="text-align: left;">&ldquo;Transposable elements (TE) are segments of DNA that can move, or transpose, within the genome&rdquo;
			: A) <span style="text-decoration: underline;">DNA Transposons:</span> Direct transfer to a new genome
			location (cut-paste procedure), B) <span style="text-decoration: underline;">Retrotransposons:</span> Copy
			their sequence to a new genome location using an RNA intermediate molecule.</p>
		</div>
		<div class="container">
		<p style="text-align: left;">Long Interspersed nuclear elements (<strong>LINE-1</strong> or <strong>L1</strong>) are autonomous
			non-Long Terminal Repeat retrotransposons comprising around 17% of the human genome.</p>
		<p style="text-align: left;">The LINE-1 elements are transcribed to an intermediate RNA molecule, which is translated into
			ORF1 and ORF2 proteins. These two proteins form a complex with the RNA which has the ability to integrate the RNA molecule at a
			genome location through reverse transcription.</p>
		</div>
		<hr>
		<div class="container">
		<p style="text-align: left;">Human Endogenous Retrovirus (<strong>HERV</strong> or <strong>ERV</strong>) sequences belong
			to the group of Long Terminal Repeat (LTR) retrotransposons corresponding to around 8% of the human genome.</p>
		<p style="text-align: left;">For <strong>HERV</strong> elements, the existence of four genes (<em>gag, pol, pro,</em> and
			<em>env)</em> surrounded by the 3&rsquo; and 5&rsquo; LTR regions is crucial to their activity. <em>Gag </em>and<em> Pol</em> genes
			encode a protein complex which mediates the production of a cDNA molecule which can integrate the retrotransoson sequence
			into a new genome location.</p>
		<p>&nbsp;</p>
		</div>
		<ul>
		<hr>
		<div class="container">
			<p style="text-align: center;"><span style="font-size: 10pt;"><strong>References:</strong></span></p>
			<ul style="list-style-type: circle;">
			<li style="text-align: justify;"><span style="font-size: 10pt;">Bodak, M., Yu, J. and Ciaudo, C. (2014) &lsquo;Regulation of LINE-1 in mammals&rsquo;, Biomolecular Concepts. De Gruyter, 5(5), pp. 409&ndash;428. doi: 10.1515/bmc-2014-0018.</span></li>
			<li style="text-align: justify;"><span style="font-size: 10pt;">Br&uuml;tting, C. et al. (2017) &lsquo;Cooccurrences of Putative Endogenous Retrovirus-Associated Diseases&rsquo;, BioMed Research International. Hindawi, 2017, pp. 1&ndash;11. doi: 10.1155/2017/7973165.</span></li>
			<li style="text-align: justify;"><span style="font-size: 10pt;">Klein, S. J. and O&rsquo;Neill, R. J. (2018) &lsquo;Transposable elements: genome innovation, chromosome diversity, and centromere conflict&rsquo;, Chromosome Research. Springer Netherlands, pp. 1&ndash;19. doi: 10.1007/s10577-017-9569-5.</span></li>
			<li style="text-align: justify;"><span style="font-size: 10pt;">Suarez, N. A., Macia, A. and Muotri, A. R. (2017) &lsquo;LINE-1 retrotransposons in healthy and diseased human brain&rsquo;, Developmental Neurobiology. doi: 10.1002/dneu.22567.</span></li>
			<li style="text-align: justify;"><span style="font-size: 10pt;">Wicker, T. et al. (2007) 'A unified classification system for eukaryotic transposable elements', Nature Revies Genetics, 8(12), pp. 973-982. doi: 10.1038/nrg2165</span></li>
			</ul>
		</div>


		</div>

		<div class="clearfix"></div>
		</div>
		<hr>

		<blockquote class="blockquote">
			<p>This website is still in progress</p>
			<footer class="blockquote-footer">Quote by <cite title="Nobody">Nobody</cite></footer>
		</blockquote>

		<div class="clearfix"></div>

		<hr>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	</body>

</html>
