<!DOCTYPE html>

<html lang="en">
	<head>
		<!-- Required meta tags -->
	 <meta charset="utf-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	 <link rel="stylesheet" type="text/css" href="/static/index.css"/>
	 <link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<title>Retrotransposons Analyser Homepage</title>
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li><a href="{{ url_for('indexpage')}}">HomePage</a></li>
					<li><a href="{{ url_for('family_table')}}">Family table </a></li>
					<li><a href="{{ url_for('distribution')}}">Distribution of retroelements</a></li>
					<li><a href="{{ url_for('AA_seq_list')}}">Translated products (list)</a></li>
					<li><a href="{{ url_for('relationship_AA')}}">AA Relationship viewer </a></li>
					<li><a href="{{ url_for('peptide_seq_ident')}}">Peptide sequence identifier</a></li>
					<li><a href="{{ url_for('upload_peptide')}}">Upload a file </a></li>
					<li><a href="{{ url_for('atlas')}}">Expression Atlas </a></li>
					<li><a href="{{ url_for('documentation')}}">Documentation</a></li>
					<li><a href="{{ url_for('about_us')}}">About us </a></li>
					<li><input type="text" placeholder="Search.."></li>
				</ul>
			</nav>
		</header>
		<hr>

		<h1>
		<p class="text-center">The current date and time is:
		<br>
		{{ time }}</p></h1>



		<P><img src="image2.jpg" onclick="imageclick()"/>
		<script type="text/javascript" src="java1.js"></script>
		</P>

		<div class="clearfix"></div>

		<hr>

		<blockquote class="blockquote">
			<p>This website is still in progress</p>
			<footer class="blockquote-footer">Quote by <cite title="Nobody">Nobody</cite></footer>
		</blockquote>

		<div class="clearfix"></div>

		<hr>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	</body>

</html>
