<!DOCTYPE html>

<html>
	<head>
		<title>Peptide Sequence Ident</title>
	</head>
	<body>
		<link rel="stylesheet" type="text/css" href="static/index.css")}}"/>

		<header>
			<nav>
				<ul>
					<li><a href="{{ url_for('indexpage')}}">HomePage</a></li>
					<li><a href="{{ url_for('family_table')}}">Family table </a></li>
					<li><a href="{{ url_for('distribution')}}">Distribution of retroelements</a></li>
					<li><a href="{{ url_for('AA_seq_list')}}">Translated products (list)</a></li>
					<li><a href="{{ url_for('relationship_AA')}}">AA Relationship viewer </a></li>
					<li><a href="{{ url_for('peptide_seq_ident')}}">Peptide sequence identifier</a></li>
					<li><a href="{{ url_for('upload_peptide')}}">Upload a file </a></li>
					<li><a href="{{ url_for('atlas')}}">Expression Atlas </a></li>
					<li><a href="{{ url_for('documentation')}}">Documentation</a></li>
					<li><a href="{{ url_for('about_us')}}">About us </a></li>
					<li><input type="text" placeholder="Search.."></li>
				</ul>


			</nav>
		</header>
		<p>
				Please Upload a fasta file or enter the peptide sequence below
				<form id="upload-form" action="{{ url_for("peptide_seq_ident")}}" method="POST" enctype="multipart/form-data">
		 		<input type="file" name="file2" accept=".fasta">
		 		<input type="submit" value="Upload">

		</p>
		<p>
			<form action="/action_page.php">
			  <textarea Name="content" rows=10 cols=100></textarea>
				<br>
			  <input type="submit" value="Seach" id="search22">
			</form>
		</p>

		{{ result_family }}
		{{ result_seq }}
	</body>

</html>
