<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#Families').DataTable({
                "scrollX": true,
  		          "pagingType": "numbers",
                "processing": true,
                "serverSide": true,
                "ajax": "server.php"
            });FFF
        } );
    </script>

    <body>
      <table id = "Families" class = "display">
        <thead>
   			<tr>
   				<th>Superfamily</th>
   				<th>Repeat Name</th>
   				<th>Counts</th>
   			</tr>
   		</thead>
    </table>
