<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Upload Peptide Sequence</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" type="text/css" href="static/assets/fonts/fontawesome/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="static/assets/fonts/themify-icons/themify-icons.css">

		<!-- <link rel="stylesheet" type="text/css" href="static/vendors/bootstrap4/bootstrap-grid.min.css"> -->
		<link rel="stylesheet" type="text/css" href="static/assets/vendors/magnific-popup/magnific-popup.min.css">
		<link rel="stylesheet" type="text/css" href="static/assets/vendors/owl.carousel/owl.carousel.css">

		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i&amp;amp;subset=latin-ext">
		<link rel="stylesheet" type="text/css" href="static/assets/css/main.css">
		<link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="http://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
		<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
		<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
		<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
		<script>
				$(document).ready(function() {
			    var table = $('#mz_seq').DataTable({
						dom: 'Bfrtip',
        		buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
					],
						scrollY:        "2000px",
						scrollX:        true,
						scrollCollapse: true,
						paging:         true

					})
			} );
			function showLoading() {
				document.getElementById('loadingmsg').style.display = 'block';
				document.getElementById('loadingover').style.display = 'block';
				}
		</script>
	</head>

	<body>
		<div class="page-wrap">


			<header class="header">
				<div class="container">
					<div class="header__logo"><a href="{{ url_for('indexpage')}}"><img src="static/assets/img/fetbase_logo.png" alt=""/></a></div>
					<div class="header__toogleGroup">
						<div class="header__chooseLanguage">
						<div class="search-form">
							<div class="search-form__toggle"><i class=""></i></div>
							<div class="search-form__form">

							</div>
						</div>
					</div>
				</div>


					<nav class="fett-nav">


						<ul class="fett-menu">
							<li class="fett-menu"><a href="{{ url_for('indexpage')}}">Home</a>
							</li>
							<li><a href="{{ url_for('family_table_HERV_Superfamilies')}}">Family Table</a>
							</li>
							<li><a href="{{ url_for('distribution')}}">Distribution</a>
							</li>
							<li class="menu-item-has-children"><a href="#">Translated</a>
								<ul class="sub-menu">
									<li><a href="{{ url_for('serverside_table')}}">Translated products</a>
									</li>
									<li><a href="{{ url_for('relationship_AA')}}">AA Relationship Viewer</a>
									</li>
								</ul>
							</li>
							<li class="current-menu-item"><a href="#">Upload Files</a>
								<ul class="sub-menu">
									<li><a href="{{ url_for('peptide_seq_ident')}}">Peptide Sequence identifier</a>
									</li>
									<li><a href="{{ url_for('upload_peptide')}}">MzIdent / MzTab</a>
									</li>
								</ul>
							</li>
							<li><a href="{{ url_for('atlas')}}">Atlas</a>
							</li>
							<li class="menu-item-has-children"><a href="#">project</a>
								<ul class="sub-menu">
									<li><a href="{{ url_for('documentation')}}">Documentation</a>
									</li>
									<li><a href="{{ url_for('about_us')}}">About Us</a>
									</li>
								</ul>
						</ul>

						<div class="navbar-toggle"><span></span><span></span><span></span></div>
					</nav>

				</div>
			</header>
			<div class="md-content">

				<div class="page-title">
							<div class="col-lg-8 offset-0 offset-sm-0 offset-md-0 offset-lg-2 ">
								<h2 class="page-title__title">Peptide File Upload</h2>
									<div class="container">
										<hr>
										<p>
										<form id="upload-form" action="{{ url_for("upload_peptide")}}" method="POST" enctype="multipart/form-data" onsubmit='refreshpage();showLoading();'>
										Please Select Tissue Type:
										<select class= id="tissue_type" name="tissue_type">
											<option value="unknown">Unknown</option>
											<option value="adrenal_gland">Adrenal Gland</option>
											<option value="anus_and_anal_canal">Anus and Anal Canal</option>
											<option value="bile_duct">Bile duct</option>
											<option value="bladder">Bladder</option>
											<option value="blood">Blood</option>
											<option value="bone">Bone</option>
											<option value="bone_marrow">Bone Marrow</option>
											<option value="brain">Brain</option>
											<option value="breast">Breast</option>
											<option value="bronchus_and_lung">Bronchus and Lung</option>
											<option value="cervix">Cervix</option>
											<option value="colon">Colon</option>
											<option value="colorectal">Colorectal</option>
											<option value="esophagus">Esophagus</option>
											<option value="eye">Eye</option>
											<option value="head_and_neck">Head and Neck</option>
											<option value="heart">Heart</option>
											<option value="kidney">Kidney</option>
											<option value="liver_and_bile_ducts">Liver and bile ducts</option>
											<option value="lung">Lung</option>
											<option value="lymph_nodes">Lymph Nodes</option>
											<option value="nervous_system">Nervous System</option>
											<option value="ovary">Ovary</option>
											<option value="other">Other</option>
											<option value="pancreas">Pancreas</option>
											<option value="penis">Penis</option>
											<option value="peripheral_nerves_and_ans">Peripheral nerves and ANS</option>
											<option value="prostate">Prostate</option>
											<option value="rectum">Rectum</option>
											<option value="skin">Skin</option>
											<option value="small_intestine">Small Intestine</option>
											<option value="soft_tissue">Soft Tissue</option>
											<option value="spinal_cord">Spinal Cord / other CNS</option>
											<option value="stomach">Stomach</option>
											<option value="testes">Testes</option>
											<option value="thymus">Thymus</option>
											<option value="thyroid">Thyroid</option>
											<option value="trachea">Trachea</option>
											<option value="ureter">Ureter</option>
											<option value="uterus">Uterus</option>
											<option value="vagina">Vagina</option>
											<option value="vulva">Vulva</option>
										</select>
										<p>
											Please Select Disease Type:
											<select class= id="disease_type" name="disease_type">
												<option value="autoimmune">AutoImmune</option>
												<option value="cancer">Cancer</option>
												<option value="cardiovascular_disease">Cardiovascular Disease</option>
												<option value="infectious_and_parasitic">Infectious and Parasitic</option>
												<option value="liver_disease">Liver Disease</option>
												<option value="neurological_disease">Neurological Disease</option>
												<option value="other">Other</option>
												<option value="unknown">Unknown</option>
											</select>
										<div id='loadingmsg' style='display: none;'><img src="/static/assets/img/loading.gif"></div>
										<div id='loadingover' style='display: none;'></div>
										<hr>
										Please Upload a mzid or mztab formatted file
										<p>

										<input type="file" name="file" accept=".xml, .mzid, .mzTab">
										<input type="submit" value="Upload" onclick="showLoading();">
										</form>



										<hr>
										</p>
										{{ result_seq1 }}
										{% if empty != "" %}
										  <img src="{{ err_img }}" width=30px height=30px>
											{{ empty  }}
											<img src="{{ err_img }}" width=30px height=30px>
										{% endif %}
										{{ result_family }}
									</div>
								</div>
							</div>
						</div>
	<div class="container">

		</body>
		<body>
		 <h4 style="text-align: center;">FetBASE DB Matches for sequences provided</h4>
		 <p style="text-align: left;">Download the results:</p>
		 <table id = "mz_seq" class = "display">
			 <thead>
				<tr>
					<th>Family Name</th>
					<th>Sequence</th>
				</tr>
			</thead>
			<tbody>
			 {% for row in data %}
				 <tr>
				 {% for d in row %}
					 <td>{{ d }}</td>
				 {% endfor %}
				 </tr>
			 {% endfor %}
			</tbody>
		 </table>
	 	</div>

		</body>

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity "sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	</body>
</html>
