<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Upload Peptide Sequence</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<!-- Fonts-->
		<link rel="stylesheet" type="text/css" href="static/assets/fonts/fontawesome/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="static/assets/fonts/themify-icons/themify-icons.css">
		<!-- Vendors-->
		<!-- <link rel="stylesheet" type="text/css" href="static/vendors/bootstrap4/bootstrap-grid.min.css"> -->
		<link rel="stylesheet" type="text/css" href="static/assets/vendors/magnific-popup/magnific-popup.min.css">
		<link rel="stylesheet" type="text/css" href="static/assets/vendors/owl.carousel/owl.carousel.css">
		<!-- App & fonts-->
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i&amp;amp;subset=latin-ext">
		<link rel="stylesheet" type="text/css" href="static/assets/css/main.css">
		<link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="http://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
		<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
		<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
		<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
		<script>
				$(document).ready(function() {
			    var table = $('#mz_seq').DataTable({
						dom: 'Bfrtip',
        		buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
					],
						scrollY:        "2000px",
						scrollX:        true,
						scrollCollapse: true,
						paging:         true

					})
			} );
			function showLoading() {
				document.getElementById('loadingmsg').style.display = 'block';
				document.getElementById('loadingover').style.display = 'block';
				}
		</script>
	</head>

	<body>
		<div class="page-wrap">

			<!-- header -->
			<header class="header">
				<div class="container">
					<div class="header__logo"><a href="{{ url_for('indexpage')}}"><img src="static/assets/img/fetbase_logo.png" alt=""/></a></div>
					<div class="header__toogleGroup">
						<div class="header__chooseLanguage">
						<div class="search-form">
							<div class="search-form__toggle"><i class=""></i></div>
							<div class="search-form__form">

							</div>
						</div>
					</div>
				</div>

					<!-- fett-nav -->
					<nav class="fett-nav">

						<!-- fett-menu -->
						<ul class="fett-menu">
							<li class="fett-menu"><a href="{{ url_for('indexpage')}}">Home</a>
							</li>
							<li><a href="{{ url_for('family_table_HERV_Superfamilies')}}">Family Table</a>
							</li>
							<li><a href="{{ url_for('distribution')}}">Distribution</a>
							</li>
							<li class="menu-item-has-children"><a href="#">Translated</a>
								<ul class="sub-menu">
									<li><a href="{{ url_for('serverside_table')}}">Translated products</a>
									</li>
									<li><a href="{{ url_for('relationship_AA')}}">AA Relationship Viewer</a>
									</li>
								</ul>
							</li>
							<li class="current-menu-item"><a href="#">Upload Files</a>
								<ul class="sub-menu">
									<li><a href="{{ url_for('peptide_seq_ident')}}">Peptide Sequence identifier</a>
									</li>
									<li><a href="{{ url_for('upload_peptide')}}">MzIdent / MzTab</a>
									</li>
								</ul>
							</li>
							<li><a href="{{ url_for('atlas')}}">Atlas</a>
							</li>
							<li class="menu-item-has-children"><a href="#">project</a>
								<ul class="sub-menu">
									<li><a href="{{ url_for('documentation')}}">Documentation</a>
									</li>
									<li><a href="{{ url_for('about_us')}}">About Us</a>
									</li>
								</ul>
						</ul><!-- fett-menu -->

						<div class="navbar-toggle"><span></span><span></span><span></span></div>
					</nav><!-- End / fett-nav -->

				</div>
			</header><!-- End / header -->
			<div class="md-content">
				<!-- page-title -->
				<div class="page-title">
							<div class="col-lg-8 offset-0 offset-sm-0 offset-md-0 offset-lg-2 ">
								<h2 class="page-title__title">Peptide File Upload</h2>
									<div class="container">
										<hr>
										<p>
										<form id="upload-form" action="{{ url_for("upload_peptide")}}" method="POST" enctype="multipart/form-data" onsubmit='refreshpage();showLoading();'>
										Please Select Tissue Type:
										<select class= id="tissue_type" name="tissue_type">
											<option value="Unknown">Unknown</option>
										  <option value="Adrenal Gland">Adrenal Gland</option>
										  <option value="Anus and Anal Canal">Anus and Anal Canal</option>
										  <option value="Bile duct">Bile duct</option>
										  <option value="Bladder">Bladder</option>
										  <option value="Blood">Blood</option>
										  <option value="Bone">Bone</option>
										  <option value="Bone Marrow">Bone Marrow</option>
										  <option value="Brain">Brain</option>
										  <option value="Breast">Breast</option>
										  <option value="Bronchus and Lung">Bronchus and Lung</option>
										  <option value="Cervix">Cervix</option>
										  <option value="Colon">Colon</option>
										  <option value="Colorectal">Colorectal</option>
										  <option value="Esophagus">Esophagus</option>
										  <option value="Eye">Eye</option>
										  <option value="Head and Neck">Head and Neck</option>
										  <option value="Heart">Heart</option>
										  <option value="Lidney">Kidney</option>
										  <option value="Liver and bile ducts">Liver and bile ducts</option>
										  <option value="Lung">Lung</option>
										  <option value="Lymph Nodes">Lymph Nodes</option>
										  <option value="Nervous System">Nervous System</option>
										  <option value="Ovary">Ovary</option>
										  <option value="Pancreas">Pancreas</option>
										  <option value="Penis">Penis</option>
										  <option value="Peripheral nerves and ANS">Peripheral nerves and ANS</option>
										  <option value="Prostate">Prostate</option>
										  <option value="Rectum">Rectum</option>
										  <option value="Skin">Skin</option>
										  <option value="Small Intestine">Small Intestine</option>
										  <option value="Soft Tissue">Soft Tissue</option>
										  <option value="Spinal Cord / other CNS">Spinal Cord / other CNS</option>
										  <option value="Stomach">Stomach</option>
										  <option value="Testes">Testes</option>
										  <option value="Thymus">Thymus</option>
										  <option value="Thyroid">Thyroid</option>
										  <option value="Trachea">Trachea</option>
										  <option value="Ureter">Ureter</option>
										  <option value="Uterus">Uterus</option>
										  <option value="Vagina">Vagina</option>
										  <option value="Vulva">Vulva</option>
										</select>
										<p>
											Please Select Disease Type:
											<select class= id="disease_type" name="disease_type">
												<option value="autoimmune">AutoImmune</option>
												<option value="cancer">Cancer</option>
												<option value="cardiovascular disease">Cardiovascular Disease</option>
												<option value="infectious and parasitic">Infectious and Parasitic</option>
												<option value="liver disease">Liver Disease</option>
												<option value="neurological disease">Neurological Disease</option>
												<option value="other">Other</option>
												<option value="unknown">Unknown</option>
											</select>
										<div id='loadingmsg' style='display: none;'><img src="/static/assets/img/loading.gif"></div>
										<div id='loadingover' style='display: none;'></div>
										<hr>
										Please Upload a mzid or mztab formatted file
										<p>

										<input type="file" name="file" accept=".xml, .mzid, .mzTab">
										<input type="submit" value="Upload" onclick="showLoading();">
										</form>



										<hr>
										</p>
										{{ result_seq1 }}
										{{ empty }}
										{{ result_family }}
									</div>
								</div>
							</div>
						</div>
	<div class="container">

		</body>
		<body>
		 <p style="text-align: left;">Download the results:</p>
		 <table id = "mz_seq" class = "display">
			 <thead>
				<tr>
					<th>Family Name</th>
					<th>Sequence</th>
				</tr>
			</thead>
			<tbody>
			 {% for row in data %}
				 <tr>
				 {% for d in row %}
					 <td>{{ d }}</td>
				 {% endfor %}
				 </tr>
			 {% endfor %}
			</tbody>
		 </table>
	 	</div>

		</body>

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity "sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	</body>
</html>
