<!DOCTYPE html>

<html>
	<head>
		<title>Upload Peptide Sequence</title>
	</head>
	<body>
		<link rel="stylesheet" type="text/css" href="static/index.css"/>
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="http://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
		<script>
			$(document).ready(function() {
				var table = $('#mz_seq').DataTable();
		} );
		</script>

		<header>
			<nav>
				<ul>
					<li><a href="{{ url_for('indexpage')}}">HomePage</a></li>
					<li><a href="{{ url_for('family_table')}}">Family table </a></li>
					<li><a href="{{ url_for('distribution')}}">Distribution of retroelements</a></li>
					<li><a href="{{ url_for('AA_seq_list')}}">Translated products (list)</a></li>
					<li><a href="{{ url_for('relationship_AA')}}">AA Relationship viewer </a></li>
					<li><a href="{{ url_for('peptide_seq_ident')}}">Peptide sequence identifier</a></li>
					<li><a href="{{ url_for('upload_peptide')}}">Upload a file </a></li>
					<li><a href="{{ url_for('atlas')}}">Expression Atlas </a></li>
					<li><a href="{{ url_for('documentation')}}">Documentation</a></li>
					<li><a href="{{ url_for('about_us')}}">About us </a></li>
					<li><input type="text" placeholder="Search.."></li>
				</ul>


			</nav>
		</header>
	<div class="container">
		<p>
				Please Upload a mzid or mztab formatted file
				<form id="upload-form" action="{{ url_for("upload_peptide")}}" method="POST" enctype="multipart/form-data">
		 		<input type="file" name="file" accept=".xml, .mzid, .mzTab">
		 		<input type="submit" value="Upload">

		<hr>
				<!–– THIS IS A COMMENT input type="text" id="player" value="" style="width:100px; height:40px;"––>
		</p>
	</div>
	<div class="container">
		{{ result_seq1 }}
		{{ empty }}
		</body>
		<body>
		 <table id = "mz_seq" class = "display">
			 <thead>
				<tr>
					<th>Family Name</th>
					<th>Sequence</th>
				</tr>
			</thead>
			<tbody>
			 {% for row in data %}
				 <tr>
				 {% for d in row %}
					 <td>{{ d[0] }}</td>
					 <td>{{ d[1] }}</td>
				 {% endfor %}
				 </tr>
			 {% endfor %}
			</tbody>
		 </table>
	 	</div>
		</body>

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity "sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	</body>
</html>
